.button {
    background-color: var(--button-color);
    border: none;
    box-shadow: 0 0 3px black;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 10px 30px;
    outline: none;
    width: max-content;
}