html, 
body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.title,
.paragraph,
.button
 {
     font-family: var(--font-raleway);
     text-align: center;
}

