@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

:root {
  --button-color: #e84545;
  --font-opensans: 'Open Sans', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --testimonials-color: #53354a;
  --footer-color-1: #3a3e64;
  --footer-color-2: #313454;
}

*{ 
  box-sizing: border-box;
  margin: 0;
}




